.navbutton {
  border: 2px;
  border-color: transparent;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  transition-duration: 0.2s;
}

.navbutton:hover {
  cursor: pointer;
}

.navbutton-navigation {
  border-color: #066f90;
  color: #066f90;
}

.navbutton-navigation:hover {
  background-color: #0095c624;
}
