body {
  margin: 0;
  padding: 0;
  font-family: "Faculty Glyphic", sans-serif, "Roboto Slab", serif, "Domine",
    serif, "Times New Roman", Times, serif;
  background-color: #d4c396;
}

button {
  font-family: "Faculty Glyphic", sans-serif, "Roboto Slab", serif, "Domine",
    serif, "Times New Roman", Times, serif;
}
